@import "tailwindcss";

@theme {
  /* Colores de Marca */
  --color-brand-primary: #3CB396;
  --color-brand-dark: #2A9D8F;
  --color-brand-light: #64D2B4;

  /* Variables del Sistema */
  --color-bg-canvas: var(--bg-canvas);
  --color-bg-surface: var(--bg-surface);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-base: var(--border-base);
  
  --color-card-bg: var(--card-bg); 
  --color-text-adaptive: var(--color-text);
}

/* MODO CLARO */
:root {
  --bg-canvas: #f8fafc;
  --bg-surface: #ffffff;
  --text-main: #1e293b;
  --text-muted: #94a3b8;
  --border-base: #e2e8f0;
  
  --card-bg: #ffffff; 
  --color-text: #ffffff; 
}

/* MODO OSCURO */
.dark {
  --bg-canvas: #0f172a;
  --bg-surface: #1e293b;
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --border-base: #334155;
  
  --card-bg: rgba(30, 41, 59, 0.95); 
  --color-text: #1e293b;
}