@import "tailwindcss";

@theme {
  /* Colores de Marca */
  --color-brand-primary: #3CB396;
  --color-brand-dark: #2A9D8F;
  --color-brand-light: #64D2B4;

  /* Variables del Sistema */
  --color-bg-canvas: var(--bg-canvas);
  --color-bg-surface: var(--bg-surface);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-base: var(--border-base);
  --color-card-bg: var(--card-bg);
  --color-text-adaptive: var(--color-text);
  --color-bar-adaptive: var(--color-bar-hover);
  --color-title: var(--text-title);
}

/* MODO CLARO */
:root {
  --bg-canvas: #f8fafc;
  --bg-surface: #ffffff;
  --text-main: #1e293b;
  --text-muted: #94a3b8;
  --border-base: #e2e8f0;
  --card-bg: #ffffff;
  --color-text: #ffffff;
  --color-bar: #C0E6DF;
  --color-bar-hover: #3CB396;
  --text-title: #3CB396;
}

/* MODO OSCURO */
.dark {
  --bg-canvas: #0f172a;
  --bg-surface: #1e293b;
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --border-base: #334155;
  --card-bg: rgba(30, 41, 59, 0.95);
  --color-text: #1e293b;
  --color-bar: #3CB396;
  --color-bar-hover: #C0E6DF;
  --text-title: #f1f5f9;
}

/* --- ANIMACIONES PERSONALIZADAS --- */

/* Flotar suavemente (arriba/abajo) */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* Flotar lateralmente y vertical (movimiento orgánico) */
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(10px, -10px);
  }

  66% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Clases de utilidad para usar en el HTML */
.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 8s ease-in-out infinite;
}

.animate-drift {
  animation: drift 10s ease-in-out infinite;
}

.animate-drift-slow {
  animation: drift 15s ease-in-out infinite;
}

/* Retrasos para que no se muevan todos al mismo tiempo */
.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}

.delay-3000 {
  animation-delay: 3s;
}

.delay-4000 {
  animation-delay: 4s;
}

.delay-5000 {
  animation-delay: 5s;
}